*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}



:root{
    --primaryColor :rgb(60, 245, 208);
    --black:rgb(0, 0, 0);
    --carton:#BDC3C7;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    width: 100vw;
    height: 100vh;
    user-select: none;
    overflow-x: hidden;
    font-size: 62.5%;
    font-family:'lato','Roboto', sans-serif;
}

.add-money-modal{
    position: absolute;
    display: grid;
    width: 100%;
    margin: 0 auto;
    /* gap: 1rem; */
    grid-template-columns:70% 27%;
    background-color: transparent;
    /* padding: 1rem; */
    
}

.blank{
height: inherit;
width: 100%;
/* background-color: aqua; */
}

.add-container{
    background-color: var(--carton);
    padding: .5rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.add-container-top{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* border: 1px solid red; */
    height: 2rem;
    width: 100%;
    padding: .5rem;
    margin: auto;
    font-size: 1rem;
}

.add-container-body{
    /* padding: 5rem; */
    /* border: 1px solid red; */
}
.fund-wallet{
    display: flex;
    margin: 1rem 0;
    flex-direction: column;
    /* border: 1px solid red; */
}
.add-container-body-top{
    display: flex;
    margin: 1rem 0;
    align-items: center;
    justify-content: space-between;
}
.fund-wallet, .wallet-balance{
    margin-top: .5rem;
    font-size: 1.5rem;
}

.add-container-body-top, .add-container-body p{
    font-size: 1rem;
}
.add-container-body, .wallet-balance p{
    padding: .5rem;
}
.amount{
    border: 2px solid #eee;
    background-color: transparent;
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    margin: 1rem;
    font-size: 1.5rem;
    /* height: 1.5rem; */
}
.forms{
    display: flex;
    flex-direction: column;
}
.form-btn{
    width: 100%;
    margin: auto;
    border-radius: .5rem;
    background-color: #3E8914;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    padding: 1rem;
    border: none;
    outline: none;
}

/* ________________________ */
.select{
    margin: 1rem;
    /* border: 1px solid red ; */
    text-align: center;
}
.select select{
    padding: .5rem;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
}
option{
    text-align: justify;
    border: none;
    outline: none;
}