*{
          margin: 0;
          padding: 0;
}
body{
          margin: 0;
          padding: 0;
}
.register-page{
          display: flex;
}
.mobile-background{
          padding: 0;
          margin: 0;
          width: 45%;
}
.form-column{
          width: 100%;
          padding-top: 0px;
          padding: 30px 70px;
}
.logo img{
          margin-bottom: 50px;

          
}
.form-column h1{
          color: #5EA536;
          font-size: 35px;
          font-weight: 500;
          margin-bottom: 50px;
          width: fit-content;
}
.form-column input {
          padding: 20px 10px;
          margin: 7px 0;
          width: 70%;
          font-size: 16px;
          font-weight: 600;
          border: 0.3px solid rgba(62, 137, 20, 0.6);
          border-radius: 4.56604px;
          box-sizing: border-box;
          color: #1E1E1E;
          outline: 0.3px solid rgba(62, 137, 20, 0.6);

}
.form-column select{
          padding: 20px 10px;
          width: 70%;
          margin: 10px 0;
          border: 0.3px solid rgba(62, 137, 20, 0.6);
          border-radius: 4.56604px;
          box-sizing: border-box;
          font-size: 16px;
          font-weight: 600;
          color: #1E1E1E;
          outline: 0.3px solid rgba(62, 137, 20, 0.6);
          /* color: rgba(62, 137, 20, 0.6); */
}

.form-column input:focus::placeholder{
          transform: translateY(-20px);
          font-size: 10.65px;
          transition: 0.4s ease-in-out;
}
.form-column input:active::placeholder{
          transform: translateY(-2px);
          font-size: 10.65px;
          transition: 0.4s ease-in-out;
}
.form-column select:focus::placeholder{
          transform: translateY(-10px);
          font-size: 10.65px;
          transition: 0.4s ease-in-out;

}
.checkme{
          display: flex;
          align-items: center;
          flex-direction: row;
          margin-left: 20px;
          margin-top: 10px;
}
.checkme p{
          margin-left: 10px;
}
#check-1{
          width: 100%;
          background: #5EA536;
          height: 19px;
          border: none;
          outline: none;
          margin-top: -4px;
}
.check-2{
          border: 0.5px solid #5EA536;
          width: fit-content;
          height: 11px;
          padding: 0;
          display: inline-block;
}
input[type=checkbox] {
          accent-color:  #5EA536;
          /* color: #5EA536; */
}

.checkme a{
          text-decoration: none;
          color: #5EA536;
}

button{
          margin: 20px 0;
          padding: 20px 50px;
          border-radius: 50px;
          background: #5EA536;
          border: transparent;
          cursor: pointer;
}
button a{
          color: white;
          font-size: 16px;
          text-decoration: none;
}
.bottom{
          padding-bottom: 40px;
          width: fit-content;
}
p a{
          text-decoration: none;
          color: #5EA536; 
          margin-top: 20px;
}
.banner-column{
          width: 55%;
          background: url(./Rectangle\ 522.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: right;
          margin: 0;
          /* height: 100%; */

}
.banner-column h2{
          padding: 20px;
          width: 20%;
          position: absolute;
          right: 70px;
          bottom: -250px;
          text-align: right;
          font-size: 35px;
          color: white;
}








